<div class="row">
  <div class="small-12">
    <div class="panel text-center">
      <h1><i class="fa fa-lock"></i> Authentication</h1>
      <p>Login or Register with:</p>
      <div class="row">
        <div class="small-8 columns small-centered">
          <ul class="inline-list">
            <li>
              <a href="/auth/github" class="button radius"><i class="fa fa-github fa-lg"></i> Github</a>
            </li>
            <li>
              <a class="button radius disabled"><i class="fa fa-google fa-lg"></i> Google</a>
            </li>
            <li>
              <a class="button radius disabled"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
            </li>
            <li>
              <a class="button radius disabled"><i class="fa fa-facebook fa-lg"></i> Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
