<div clas="row">
  <div class="small-3 columns small-centered">
    <h1>Movie Nightmare</h1>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <ul>
      <li><i class="fa fa-group"></i> Oauth Authenticatio, no registration required</li>
      <li><i class="fa fa-tasks"></i> Import your existing library</li>
      <li><i class="fa fa-tag"></i> Organize your library with labels</li>
    </ul>
    <a href="#/login" class="button">Sign in Now!</a>
  </div>
  <div class="small-6 columns">
    <ul>
      <li><i class="fa fa-magic fa-lg"></i> Tmdb-Api </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <h4><i class="fa fa-mobile fa-lg"></i> On every device</h4>
    <p>Movie Nightmare runs on every device.</p>
  </div>
  <div class="small-4 columns">
    <h4><i class="fa fa-book fa-lg"></i> Organize your library</h4>
    <p>with a powerful build-in editor</p>
  </div>
  <div class="small-4 columns">
    <h4><i class="fa fa-share-alt fa-lg"></i> Share your libray</h4>
    <p>Create your own lists and share it with your friends.</p>
  </div>
</div>
