<div class="row">
  <div class="small-12 columns">
    <ul class="label-list">
      <li ng-repeat="label in labels">
        <a class="label" ng-click="toggleLabelSelection(label.name)" ng-class="{active: isLabelSelected(label.name)}">{{label.name}}</a>
      </li>
      <li class="active"><a class="label" ng-click="resetLabelSelection()">CLEAR</a></li>
      <li><a class="label" ng-click="toggleLabelSelection('-no-labels-')" ng-class="{active: isLabelSelected('-no-labels-')}">EMPTY</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-12 columns">
    <div class="movie2" ng-repeat="movie in movies|orderBy:'created_at':true | selectedLabels:sLabels">
      <div class="row">
        <div class="small-4 medium-2 columns">
          <img class="thumb" ng-src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}">
        </div>
        <div class="small-8 medium-7 columns">
          <h4>
            {{movie.title}} <small>({{movie.release_date | date:'yyyy'}})</small>
          </h4>
          <ul class="label-list">
            <li ng-repeat="label in movie.labels|orderBy:'name'"><span class="label">{{label.name}}</span></li>
          </ul>
          <input selectize="{create: true}" options='[1, 2, 3]' ng-model="labelBox[movie._id].data" ng-show="labelBox[movie._id].box">

          <p class="hide-for-small-only">{{movie.overview | limitTo:200}}</p>
        </div>
        <div class="medium-3 columns hide-for-small-only">
          <ul class="button-group right">
            <li>
              <a class="button tiny secondary right" ng-click="toggleLabelBox(movie)">
                <i ng-class="labelBox[movie._id].css" class="fa fa-tag"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <a href="/#/movies/{{movie._id}}">l</a>
    </div>
  </div>
</div>
