module.exports = {
  database: {
    dsn: 'mongodb://localhost:27017/mn-dev'
  },
  passport: {
    github: {
      clientID: null,
      clientSecret: null
    }
  },
  api: {
    tmdb: {
      apiKey: null
    }
  }
};
