{
  "add": {
    "NODE_ENV": "development",
    "DATABASE_DSN": "mongodb://localhost:27017/mn-dev",
    "GITHUB_CLIENT_ID": "",
    "GITHUB_CLIENT_SECRET": "",
    "API_TMDB_API_KEY": "",
    "REDIS_HOST": "localhost",
    "REDIS_PORT": 6379,
    "REDIS_PASSWORD": ""
  }
}
