.movie {
  li {
    display: block;
    height: 450px;
    @media #{$small-only} {
      max-width: 320px;
    }
    .movie-image {
      position: relative;
      height: 100%;
      width: 100%;
      background-size:cover;
      background-position:center center;
    }
    .movie-title {
      color: #fff;
      position: absolute;
      bottom: 0;
      background-color: #000;
      padding: rem-calc(5);
      opacity: 0.7;
      width: 100%;
    }
    .btn-add-movie {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.movie2 {
  margin-bottom: rem-calc(10);
  border-width: 0 0 1px;
  border-style: solid;
  border-color: scale-color($secondary-color, $lightness: 0%);
  padding: rem-calc(10);
  background: #F1F1F1;
  box-shadow: 2px 2px 3px 0 scale-color(scale-color($secondary-color, $lightness: 0%), $lightness: 10%);
  h4 {
    @media #{$small-only}  {
      font-size: rem-calc(16);
    }
  }
}

.label-list {
  margin-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin-right: 5px;
    .active {
      background: red;
    }
  }
}

.block-list {
  list-style-type: none;
  margin-left: 0;
}

.youtube {
  height: rem-calc(300);
}
