.movie {
  li {
    display: block;
    height: 450px;
    @media #{$small-only} {
      max-width: 320px;
    }
    .movie-image {
      position: relative;
      height: 100%;
      width: 100%;
      background-size:cover;
      background-position:center center;
    }
    .movie-title {
      color: #fff;
      position: absolute;
      bottom: 0;
      background-color: #000;
      padding: rem-calc(5);
      opacity: 0.7;
      width: 100%;
    }
    .btn-add-movie {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
