.movie {
  li {
    display: block;
    height: 450px;
    @media #{$small-only} {
      max-width: 320px;
    }
    div {
      height: 100%;
      width: 100%;
      background-size:cover;
      background-position:center center;
    }
  }
}
